body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.freestyledisplay{
    display: flex;
    margin-bottom: 200px;
}
.divstyle{
    margin: 50px;
    padding: 10px;
    margin-left: 10px;
    

}
h1 {
    font-size: 40px;
}
.color{
    color: deeppink;
}
.startline{
    color: red;
}
p{
    text-align: justify;
    font-size: 20px;
}
.linkbuttom{
text-decoration: none;
background-image: linear-gradient(yellow,green);
border-radius: 5px;
color: white;
padding: 2px;
}

.linkbuttom:hover {
    background-image: linear-gradient(tomato,pink);
    color: white;
}
.imagecss{
    border-radius: 20px;
    width: 500px;
}
.banner{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
}
#fullsack{
    border-left: 8px solid;
    border-image: linear-gradient(yellow,red);
    border-image-slice: 1;

}
#baby{
    border-left: 8px solid;
    border-image: linear-gradient(green,red);
    border-image-slice: 1;
}
.area{
    box-shadow: 10px 20px 30px gray;
}
.exparea {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}